<div class="login-container">
    <div class="login-card">
      <div class="login-left">
        <!-- Fondo decorativo -->
      </div>
      <div class="login-right">
        <h2>Bienvenido al Sistema</h2>
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Usuario</label>
            <input
              type="email"
              id="email"
              class="form-control"
              [(ngModel)]="usuario"
              name="email"
              required
              placeholder="Ingresa Usuario"
            />
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input
              type="password"
              id="password"
              class="form-control"
              [(ngModel)]="password"
              name="password"
              required
              placeholder="Ingresa Password"
            />
          </div>
         
          <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
          
        </form>
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
            {{ errorMessage }}
          </div>
      </div>
    </div>
  </div>
  